// Primary Colors
$bandsite-black: #323232;
$silver: #afafaf;
$white: #ffffff;

// Secondary Colors
$bandSite-DarkBlack: #000000;
$mercury: #e1e1e1;
$alabastor: #fafafa;

//Pading Mobile
$pad-b4-headlines: 24px;
$pad-after-headlines: 16px;
$pad-between-components: 16px;
