// Primary Colors
$bandsite-black: #323232;
$silver: #afafaf;
$white: #ffffff;

// Secondary Colors
$bandsite-dark-black: #000000;
$mercury: #e1e1e1;
$alabastor: #fafafa;

// Padding Global
$padding-global-default: 1rem;

//Pading Mobile
$padding-mobile-after-headline: 1.5rem 1rem 1rem 1rem;
$padding-mobile-equal-right-left: 0rem 1rem 0rem 1rem;
