// Primary Colors
$bandsite-black: #323232;
$silver: #afafaf;
$white: #ffffff;

// Secondary Colors
$bandSite-DarkBlack: #000000;
$mercury: #e1e1e1;
$alabastor: #fafafa;

//Pading Mobile
$mpad-b4-headlines: 24px;
$mpad-after-headlines: 16px;
$mpad-between-components: 16px;

//Pading Desktop & Tablet
$dpad-b4-headlines: 48px;
$dpad-after-headlines: 36px;
$dpad-between-components: 36px;
