@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;

// MOBILE
@media (max-width: 768px) {
  .hero {
    &__img-container {
      position: relative;
      width: 100%;
    }

    &__img-photo {
      width: 100%;
    }

    &__img-overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 98.5%;
      background-color: rgba($bandsite-black, 0.5);
    }

    // Switched to vw units for the Hero image as the font scales better with the image vs the 24px/1.5rem requested in the stylesheet.
    &__img-title {
      font-size: 7vw;
      font-weight: 600;
      position: absolute;
      top: 45%;
      left: 5%;
      color: $white;
    }
  }

  .about {
    &__title {
      @include mobile-sect-header;
      color: $bandsite-black;
      padding: $padding-mobile-after-headline;
    }

    // &__img-container {
    //   position: relative;
    //   width: 100%;
    //   text-align: center;
    // }

    &__img-photo {
      object-fit: cover;
      width: 95%;
      padding: $padding-mobile-equal-right-left;
    }

    &__quote {
      color: $bandsite-black;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.5rem;
      padding: 1rem 1rem 1rem 1rem;
    }

    &__quote-ref {
      padding-top: $padding-global-default;
    }

    &__text-title {
      @include mobile-sub-header;
      padding-left: 1rem;
      padding-bottom: $padding-global-default;
    }

    &__txt {
      @include mobile-body-copy;
      padding: 0rem 1rem 1rem 1rem;
    }
  }

  .photos {
    &__title {
      @include mobile-sect-header;
      color: $bandsite-black;
      padding: 1.5rem 0rem 1rem 1rem;
    }

    &__container {
      position: relative;
      text-align: center;
      padding: 0rem 1rem 1rem 1rem;
    }

    &__container img {
      object-fit: cover;
      width: 99%;
      padding-bottom: $padding-global-default;
    }
  }

  //COMMENTS //COMMENTS //COMMENTS //COMMENTS

  .comments {
    &__title {
      @include mobile-sect-header;
      padding-left: 1rem;
    }

    &__container {
      display: flex;
      justify-content: flex-start;
      padding-top: 1rem;
    }

    &__form-input-container {
      display: flex;
      flex-direction: column;
      width: 70vw;
    }

    &__form-label-name {
      font-size: 14px;
      padding-bottom: 4px;
      font-weight: 600;
      color: $silver;
      font-family: Avenir, sans-serif;
    }

    &__form-label-input {
      font-size: 14px;
      padding-top: 24px;
      font-weight: 600;
      color: $silver;
      font-family: Avenir, sans-serif;
    }

    &__form-input-field-name {
      height: 36px;
      border-radius: 4px;
      border: 1px solid $mercury;
      background-color: $alabastor;
    }

    &__form-input-field-comment {
      height: 96px;
      border-radius: 4px;
      border: 1px solid $mercury;
      background-color: $alabastor;
      font-family: Avenir, sans-serif;
    }

    &__form-btn {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      width: 100%;
      height: 40px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: $bandsite-black;
      color: white;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 28px;
      border-radius: 4px;
      border: none;
      font-family: Avenir, sans-serif;
    }

    &__posts {
      margin-bottom: 2rem;
    }

    &__post-new,
    &__post-0,
    &__post-1,
    &__post-2,
    &__post-3 {
      display: flex;
    }

    &__avatar-loggedIn {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-image: url('/assets/images/Mohan-muruge.jpg');
      background-size: cover;
      margin-left: 5vw;
      margin-right: 1rem;
      // margin-top: 18px;
    }

    &__name-date-container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 13px;
    }

    &__avatarAnon {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: #e1e1e1;
      background-size: cover;
      margin-left: 5vw;
      margin-right: 1rem;
    }

    &__username {
      font-weight: 600;
    }

    &__date {
      color: $silver;
    }

    &__body {
      width: 70vw;
    }

    &__divider-lines {
      width: 90%;
      height: 1px;
      background-color: $mercury;
      margin: auto;
      margin-bottom: 16px;
      margin-top: 16px;
    }
  }
}

// TABLET RESPONSIVE
@media (min-width: 769px) {
  .hero {
    &__img-container {
      position: relative;
      width: 100%;
    }

    &__img-photo {
      object-fit: cover;
      width: 100%;
      max-height: 500px;
    }

    &__img-overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 98.5%;
      background-color: rgba($bandsite-black, 0.5);
    }

    &__img-title {
      position: absolute;
      top: 40%;
      left: 8%;
      font-size: 4.25rem;
      font-weight: 600;
      color: $white;
    }
  }

  .about {
    &__title {
      @include dsk-tablet-sect-header;
      color: $bandsite-black;
      padding: 2.25rem 0rem 1.5rem 0rem;
      padding-left: 4vw;
    }

    &__img-container {
      width: 80%;
      margin: auto;
    }

    &__img-photo {
      object-fit: cover;
      width: 100%;
    }

    &__quote {
      @include dsk-tablet-subheader;
      color: $bandsite-black;
      padding-top: 1rem;
      padding-left: 11vw;
      width: 75%;
    }

    &__quote-ref {
      font-size: 1.125rem;
      padding-top: 1rem;
    }

    &__text-title {
      @include dsk-tablet-subheader;
      padding-left: 12vw;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }

    &__paragraphs-container {
      display: flex;
      margin-right: 12vw;
      margin-left: 12vw;
      line-height: 1.5rem;
      padding-bottom: 2rem;
      @include dsk-tablet-body-copy;
    }

    &__text-right {
      padding-left: $padding-global-default;
    }

    &__text-left {
      padding-right: $padding-global-default;
    }
  }

  .photos {
    background-color: $alabastor;
    padding-top: $padding-global-default;

    &__title {
      @include dsk-tablet-sect-header;
      color: $bandsite-black;
      padding-top: 2rem;
      padding-bottom: 1.5rem;
      padding-left: 3vw;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      width: 96%;
      padding-bottom: $padding-global-default;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .photo__container {
    width: 30%;
    margin: auto;

    img {
      width: 100%;
      margin-bottom: 8%;
      filter: grayscale(100%);
      transition: filter 0.3s ease, transform 0.3s ease;
    }

    img:hover {
      filter: none;
      transform: scale(1.05);
    }
  }

  //COMMENTS //COMMENTS //COMMENTS //COMMENTS

  .comments {
    &__title {
      @include dsk-tablet-sect-header;
      padding-left: 3.5vw;
      padding-top: 2rem;
    }

    &__container {
      display: flex;
      justify-content: flex-start;
      padding-top: 1rem;
      padding-left: 3vw;
      padding-right: 3vw;
    }

    &__form-input-container {
      display: flex;
      flex-direction: column;
      width: 70vw;
      font-family: Avenir, sans-serif;
    }

    &__form-label-name {
      font-size: 14px;
      padding-bottom: 4px;
      font-weight: 600;
      color: $silver;
      font-family: Avenir, sans-serif;
    }

    &__form-label-input {
      font-size: 14px;
      padding-top: 24px;
      font-weight: 600;
      color: $silver;
      font-family: Avenir, sans-serif;
    }

    &__form-input-field-name {
      height: 36px;
      border-radius: 4px;
      border: 1px solid $mercury;
      background-color: $alabastor;
    }

    &__form-input-field-comment {
      height: 96px;
      border-radius: 4px;
      border: 1px solid $mercury;
      background-color: $alabastor;
      font-family: Avenir, sans-serif;
    }

    &__form-btn-container {
      display: flex;
      justify-content: end;
    }

    &__form-btn {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      width: 12rem;
      height: 40px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: $bandsite-black;
      color: white;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 28px;
      border-radius: 4px;
      border: none;
      font-family: Avenir, sans-serif;
    }

    &__posts {
      margin-bottom: 5rem;
      padding-left: 3vw;
      padding-right: 5vw;
    }

    &__post-new,
    &__post-0,
    &__post-1,
    &__post-2,
    &__post-3 {
      display: flex;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    &__avatar-loggedIn {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-image: url('/assets/images/Mohan-muruge.jpg');
      background-size: cover;
      margin-left: 5vw;
      margin-right: 1rem;
      // margin-top: 18px;
    }

    &__name-date-container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 13px;
    }

    &__avatarAnon {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: #e1e1e1;
      background-size: cover;
      margin-left: 5vw;
      margin-right: 1rem;
    }

    &__username {
      font-weight: 600;
    }

    &__date {
      color: $silver;
    }

    &__body {
      width: 70vw;
    }

    &__divider-lines {
      width: 76vw;
      height: 1px;
      background-color: $mercury;
      margin: auto;
      margin-bottom: 16px;
      margin-top: 16px;
      transform: translateX(-2vw);
    }
  }
}

// DESKTOP RESPONSIVE
@media (min-width: 1280px) {
  .hero {
    &__img-title {
      padding-left: 3vw;
    }
  }
  .about {
    &__title {
      padding-left: 11vw;
    }

    &__img-container {
      position: relative;
      width: 100%;
      text-align: center;
    }

    &__img-photo {
      object-fit: cover;
      width: 70%;
    }

    &__quote {
      padding-left: 17vw;
      width: 50%;
    }

    &__text-title {
      padding-left: 17vw;
    }

    &__paragraphs-container {
      width: 65%;
      margin-right: 17vw;
      margin-left: 17vw;
    }
  }

  .photos {
    padding-right: 3vw;
    padding-left: 3vw;

    &__title {
      padding-left: 10.5vw;
    }

    &__container {
      width: 80%;
    }
  }

  .comments {
    &__title {
      @include dsk-tablet-sect-header;
      padding-left: 13.5vw;
      padding-top: 2rem;
    }

    &__container {
      display: flex;
      justify-content: flex-start;
      padding-top: 1rem;
    }

    &__form-input-container {
      display: flex;
      flex-direction: column;
      width: 35vw;
      font-family: Avenir, sans-serif;
      margin-left: 19vw;
    }

    &__form-label-name {
      font-size: 14px;
      padding-bottom: 4px;
      font-weight: 600;
      color: $silver;
      font-family: Avenir, sans-serif;
    }

    &__form-label-input {
      font-size: 14px;
      padding-top: 24px;
      font-weight: 600;
      color: $silver;
      font-family: Avenir, sans-serif;
    }

    &__form-input-field-name {
      height: 36px;
      border-radius: 4px;
      border: 1px solid $mercury;
      background-color: $alabastor;
    }

    &__form-input-field-comment {
      height: 96px;
      border-radius: 4px;
      border: 1px solid $mercury;
      background-color: $alabastor;
      font-family: Avenir, sans-serif;
    }

    &__form-btn-container {
      display: flex;
      justify-content: end;
    }

    &__form-btn {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      width: 12rem;
      height: 40px;
      padding-left: 32px;
      padding-right: 32px;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: $bandsite-black;
      color: white;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 28px;
      border-radius: 4px;
      border: none;
      font-family: Avenir, sans-serif;
    }

    &__posts {
      margin-bottom: 5rem;
    }

    &__post-new,
    &__post-0,
    &__post-1,
    &__post-2,
    &__post-3 {
      display: flex;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    &__avatar-loggedIn {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-image: url('/assets/images/Mohan-muruge.jpg');
      background-size: cover;
      margin-left: 5vw;
      margin-right: 1rem;
      position: relative;
      top: 0vw;
      left: 18.8vw;
    }

    &__name-date-container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 13px;
    }

    &__avatarAnon {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: #e1e1e1;
      background-size: cover;
      margin-left: 5vw;
      margin-right: 1rem;
      position: relative;
      top: 0vw;
      left: 19vw;
    }

    &__username {
      font-weight: 600;
    }

    &__date {
      color: $silver;
    }

    &__body {
      width: 35vw;
      margin-left: auto;
      margin-right: auto;
      padding-right: 10vw;
    }

    &__divider-lines {
      width: 76vw;
      height: 1px;
      background-color: $mercury;
      margin: auto;
      margin-bottom: 16px;
      margin-top: 16px;
      transform: translateX(-2vw);
    }
  }
}
