@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf"), format("opentype"), url("../assets/Font/Alternative files/AvenirNextLTPro.ttf"), format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf"), format("opentype"), url("../assets/Font/Alternative files/AvenirNextLTProDemi.ttf"), format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf"), format("opentype"), url("../assets/Font/Alternative files/AvenirNextLTProBold.ttf"), format("truetype");
  font-weight: 700;
}
body {
  font-family: "Avenir";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header,
.footer {
  background-color: #323232;
  color: #ffffff;
}

.header__logo {
  width: 7.5rem;
  cursor: pointer;
}

h1,
h2,
h3,
p,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .header {
    padding-top: 1rem;
  }
  .header__title {
    text-align: center;
    padding: 0.5rem;
  }
  .nav-bar {
    display: flex;
    justify-content: center;
  }
  .nav-bar__ul {
    display: flex;
    width: 100%;
  }
  .nav-bar__item {
    width: 50%;
    text-align: center;
  }
  .nav-bar__item--highlight {
    border-bottom: 4px solid #ffffff;
    padding-bottom: 1rem;
    font-weight: 600;
  }
  .nav-bar__item--inactive {
    color: #e1e1e1;
  }
  .hero__img-container {
    position: relative;
    width: 100%;
  }
  .hero__img-photo {
    width: 100%;
  }
  .hero__img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 98.5%;
    background-color: rgba(50, 50, 50, 0.5);
  }
  .hero__img-title {
    font-size: 7vw;
    font-weight: 600;
    position: absolute;
    top: 45%;
    left: 5%;
    color: #ffffff;
  }
  .about__title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #323232;
    padding: 1.5rem 1rem 1rem 1rem;
  }
  .about__img-photo {
    -o-object-fit: cover;
       object-fit: cover;
    width: 95%;
    padding: 0rem 1rem 0rem 1rem;
  }
  .about__quote {
    color: #323232;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  .about__quote-ref {
    padding-top: 1rem;
  }
  .about__text-title {
    font-size: 0.875rem;
    line-height: 1.375;
    font-weight: 600;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .about__txt {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding: 0rem 1rem 1rem 1rem;
  }
  .photos__title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #323232;
    padding: 1.5rem 0rem 1rem 1rem;
  }
  .photos__container {
    position: relative;
    text-align: center;
    padding: 0rem 1rem 1rem 1rem;
  }
  .photos__container img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 99%;
    padding-bottom: 1rem;
  }
  .footer__headlines-container {
    position: relative;
  }
  .footer__headlines-top-title {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    padding: 2rem 0rem 0rem 1rem;
  }
  .footer__headlines-social {
    padding-top: 1rem;
  }
  .footer__social-img1 {
    width: 1.75rem;
    padding-left: 1rem;
  }
  .footer__social-img2 {
    width: 1.1rem;
    padding-left: 2rem;
  }
  .footer__social-img3 {
    width: 1.75rem;
    padding-left: 2rem;
  }
  .footer__subtitle1, .footer__subtitle2, .footer__subtitle3 {
    font-size: 0.875rem;
    line-height: 1.375;
    font-weight: 600;
    padding: 1.5rem 0rem 0rem 1rem;
  }
  .footer__subtitle1-txt, .footer__subtitle2-txt, .footer__subtitle3-txt {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding: 1rem 0rem 0rem 1rem;
  }
  .footer__headlines-logo {
    position: absolute;
    top: 34rem;
    left: 0.05rem;
    color: #ffffff;
    padding: 1rem 0 0 1rem;
  }
  .footer__email {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding-top: 1rem;
  }
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding: 4.58rem 0rem 1rem 1rem;
  }
}
@media (min-width: 769px) {
  .header {
    padding-top: 1rem;
    display: flex;
  }
  .header__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;
    padding-bottom: 0.7rem;
    transition: transform 0.3s ease;
  }
  .header__title:hover {
    transform: scale(1.07);
  }
  .nav-bar {
    display: flex;
    justify-content: center;
  }
  .nav-bar__ul {
    display: flex;
  }
  .nav-bar__item {
    font-size: 1.125rem;
    text-align: center;
    padding-top: 0.6rem;
    margin-left: 4rem;
    transition: transform 0.3s ease;
  }
  .nav-bar__item--highlight {
    border-bottom: 4px solid white;
    font-weight: 600;
    padding-bottom: 1rem;
  }
  .nav-bar__item--inactive {
    color: #e1e1e1;
  }
  .nav-bar__item:hover {
    transform: scale(1.07);
  }
  .hero__img-container {
    position: relative;
    width: 100%;
  }
  .hero__img-photo {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    max-height: 500px;
  }
  .hero__img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 98.5%;
    background-color: rgba(50, 50, 50, 0.5);
  }
  .hero__img-title {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 4.25rem;
    font-weight: 600;
    color: #ffffff;
  }
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    color: #323232;
    padding: 2.25rem 0rem 1.5rem 0rem;
    padding-left: 4vw;
  }
  .about__img-container {
    width: 80%;
    margin: auto;
  }
  .about__img-photo {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #323232;
    padding-top: 1rem;
    padding-left: 11vw;
    width: 75%;
  }
  .about__quote-ref {
    font-size: 1.125rem;
    padding-top: 1rem;
  }
  .about__text-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-left: 12vw;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .about__paragraphs-container {
    display: flex;
    margin-right: 12vw;
    margin-left: 12vw;
    line-height: 1.5rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .about__text-right {
    padding-left: 1rem;
  }
  .about__text-left {
    padding-right: 1rem;
  }
  .photos {
    background-color: #fafafa;
    padding-top: 1rem;
  }
  .photos__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    color: #323232;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 3vw;
  }
  .photos__container {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .photo__container {
    width: 30%;
    margin: auto;
  }
  .photo__container img {
    width: 100%;
    margin-bottom: 8%;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
  }
  .photo__container img:hover {
    filter: none;
    transform: scale(1.05);
  }
  .footer {
    padding: 1.3rem 1.3rem;
    position: relative;
  }
  .footer__headlines-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
  }
  .footer__headlines-top-title {
    font-size: 2.25rem;
    font-weight: 600;
    color: #ffffff;
    margin-left: 1rem;
  }
  .footer__headlines-social {
    padding: 0.8rem 11.8rem 1.125rem 0;
  }
  .footer__social-img1 {
    width: 1.6rem;
    padding-left: 0.5rem;
  }
  .footer__social-img2 {
    width: 0.93rem;
    margin-left: 2rem;
  }
  .footer__social-img3 {
    width: 1.75rem;
    margin-left: 2rem;
  }
  .footer__headlines-logo img {
    width: 7.5rem;
    padding-right: 1rem;
  }
  .footer__txt-columns-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-left: 1rem;
  }
  .footer__txt-column3 {
    padding-right: 1rem;
  }
  .footer__subtitle1, .footer__subtitle2, .footer__subtitle3 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    font-weight: 600;
  }
  .footer__subtitle1-txt, .footer__subtitle2-txt, .footer__subtitle3-txt {
    padding-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .footer__email {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding-top: 1.5rem;
  }
  .footer__copyright {
    font-size: 0.875rem;
    padding-top: 3.5rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-left: 7vw;
  }
  .hero__img-title {
    padding-left: 3vw;
  }
  .about__title {
    padding-left: 11vw;
  }
  .about__img-container {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .about__img-photo {
    -o-object-fit: cover;
       object-fit: cover;
    width: 70%;
  }
  .about__quote {
    padding-left: 17vw;
    width: 50%;
  }
  .about__text-title {
    padding-left: 17vw;
  }
  .about__paragraphs-container {
    width: 65%;
    margin-right: 17vw;
    margin-left: 17vw;
  }
  .photos__title {
    padding-left: 11vw;
  }
  .photos__container {
    width: 80%;
  }
  .footer__headlines-container {
    padding-left: 7rem;
  }
  .footer__headlines-social {
    width: 175px;
    padding-right: 26.7vw;
  }
  .footer__headlines-logo img {
    width: 7.5rem;
    padding-right: 8rem;
  }
  .footer__txt-columns-container {
    padding-left: 8.3rem;
  }
  .footer__txt-column3 {
    padding-right: 25vw;
  }
  .footer__copyright {
    padding-left: 8.3rem;
    padding-bottom: 2rem;
  }
}/*# sourceMappingURL=bio.css.map */