@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf"), format("opentype"), url("../assets/Font/Alternative files/AvenirNextLTPro.ttf"), format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf"), format("opentype"), url("../assets/Font/Alternative files/AvenirNextLTProDemi.ttf"), format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf"), format("opentype"), url("../assets/Font/Alternative files/AvenirNextLTProBold.ttf"), format("truetype");
  font-weight: 700;
}
@media (max-width: 768px) {
  .hero__img-container {
    position: relative;
    width: 100%;
  }
  .hero__img-photo {
    width: 100%;
  }
  .hero__img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 98.5%;
    background-color: rgba(50, 50, 50, 0.5);
  }
  .hero__img-title {
    font-size: 7vw;
    font-weight: 600;
    position: absolute;
    top: 45%;
    left: 5%;
    color: #ffffff;
  }
  .about__title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #323232;
    padding: 1.5rem 1rem 1rem 1rem;
  }
  .about__img-photo {
    -o-object-fit: cover;
       object-fit: cover;
    width: 95%;
    padding: 0rem 1rem 0rem 1rem;
  }
  .about__quote {
    color: #323232;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  .about__quote-ref {
    padding-top: 1rem;
  }
  .about__text-title {
    font-size: 0.875rem;
    line-height: 1.375;
    font-weight: 600;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .about__txt {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding: 0rem 1rem 1rem 1rem;
  }
  .photos__title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #323232;
    padding: 1.5rem 0rem 1rem 1rem;
  }
  .photos__container {
    position: relative;
    text-align: center;
    padding: 0rem 1rem 1rem 1rem;
  }
  .photos__container img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 99%;
    padding-bottom: 1rem;
  }
  .comments__title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    padding-left: 1rem;
  }
  .comments__container {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
  }
  .comments__form-input-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
  }
  .comments__form-label-name {
    font-size: 14px;
    padding-bottom: 4px;
    font-weight: 600;
    color: #afafaf;
    font-family: Avenir, sans-serif;
  }
  .comments__form-label-input {
    font-size: 14px;
    padding-top: 24px;
    font-weight: 600;
    color: #afafaf;
    font-family: Avenir, sans-serif;
  }
  .comments__form-input-field-name {
    height: 36px;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    background-color: #fafafa;
  }
  .comments__form-input-field-comment {
    height: 96px;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    background-color: #fafafa;
    font-family: Avenir, sans-serif;
  }
  .comments__form-btn {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #323232;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 28px;
    border-radius: 4px;
    border: none;
    font-family: Avenir, sans-serif;
  }
  .comments__posts {
    margin-bottom: 2rem;
  }
  .comments__post-new, .comments__post-0, .comments__post-1, .comments__post-2, .comments__post-3 {
    display: flex;
  }
  .comments__avatar-loggedIn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url("/assets/images/Mohan-muruge.jpg");
    background-size: cover;
    margin-left: 5vw;
    margin-right: 1rem;
  }
  .comments__name-date-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
  }
  .comments__avatarAnon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #e1e1e1;
    background-size: cover;
    margin-left: 5vw;
    margin-right: 1rem;
  }
  .comments__username {
    font-weight: 600;
  }
  .comments__date {
    color: #afafaf;
  }
  .comments__body {
    width: 70vw;
  }
  .comments__divider-lines {
    width: 90%;
    height: 3px;
    background-color: #e1e1e1;
    margin: auto;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
@media (min-width: 769px) {
  .hero__img-container {
    position: relative;
    width: 100%;
  }
  .hero__img-photo {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    max-height: 500px;
  }
  .hero__img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 98.5%;
    background-color: rgba(50, 50, 50, 0.5);
  }
  .hero__img-title {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 4.25rem;
    font-weight: 600;
    color: #ffffff;
  }
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    color: #323232;
    padding: 2.25rem 0rem 1.5rem 0rem;
    padding-left: 4vw;
  }
  .about__img-container {
    width: 80%;
    margin: auto;
  }
  .about__img-photo {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #323232;
    padding-top: 1rem;
    padding-left: 11vw;
    width: 75%;
  }
  .about__quote-ref {
    font-size: 1.125rem;
    padding-top: 1rem;
  }
  .about__text-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    padding-left: 12vw;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .about__paragraphs-container {
    display: flex;
    margin-right: 12vw;
    margin-left: 12vw;
    line-height: 1.5rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .about__text-right {
    padding-left: 1rem;
  }
  .about__text-left {
    padding-right: 1rem;
  }
  .photos {
    background-color: #fafafa;
    padding-top: 1rem;
  }
  .photos__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    color: #323232;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-left: 3vw;
  }
  .photos__container {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .photo__container {
    width: 30%;
    margin: auto;
  }
  .photo__container img {
    width: 100%;
    margin-bottom: 8%;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
  }
  .photo__container img:hover {
    filter: none;
    transform: scale(1.05);
  }
  .comments__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    padding-left: 3.5vw;
    padding-top: 2rem;
  }
  .comments__container {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .comments__form-input-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    font-family: Avenir, sans-serif;
  }
  .comments__form-label-name {
    font-size: 14px;
    padding-bottom: 4px;
    font-weight: 600;
    color: #afafaf;
    font-family: Avenir, sans-serif;
  }
  .comments__form-label-input {
    font-size: 14px;
    padding-top: 24px;
    font-weight: 600;
    color: #afafaf;
    font-family: Avenir, sans-serif;
  }
  .comments__form-input-field-name {
    height: 36px;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    background-color: #fafafa;
  }
  .comments__form-input-field-comment {
    height: 96px;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    background-color: #fafafa;
    font-family: Avenir, sans-serif;
  }
  .comments__form-btn-container {
    display: flex;
    justify-content: end;
  }
  .comments__form-btn {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 12rem;
    height: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #323232;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 28px;
    border-radius: 4px;
    border: none;
    font-family: Avenir, sans-serif;
  }
  .comments__posts {
    margin-bottom: 5rem;
    padding-left: 3vw;
    padding-right: 5vw;
  }
  .comments__post-new, .comments__post-0, .comments__post-1, .comments__post-2, .comments__post-3 {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .comments__avatar-loggedIn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: url("/assets/images/Mohan-muruge.jpg");
    background-size: cover;
    margin-left: 5vw;
    margin-right: 1rem;
  }
  .comments__name-date-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
  }
  .comments__avatarAnon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #e1e1e1;
    background-size: cover;
    margin-left: 5vw;
    margin-right: 1rem;
  }
  .comments__username {
    font-weight: 600;
  }
  .comments__date {
    color: #afafaf;
  }
  .comments__body {
    width: 70vw;
  }
  .comments__divider-lines {
    width: 76vw;
    height: 1px;
    background-color: #e1e1e1;
    margin: auto;
    margin-bottom: 16px;
    margin-top: 16px;
    transform: translateX(-2vw);
  }
}
@media (min-width: 1280px) {
  .hero__img-title {
    padding-left: 3vw;
  }
  .about__title {
    padding-left: 11vw;
  }
  .about__img-container {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .about__img-photo {
    -o-object-fit: cover;
       object-fit: cover;
    width: 70%;
  }
  .about__quote {
    padding-left: 17vw;
    width: 50%;
  }
  .about__text-title {
    padding-left: 17vw;
  }
  .about__paragraphs-container {
    width: 65%;
    margin-right: 17vw;
    margin-left: 17vw;
  }
  .photos__title {
    padding-left: 1vw;
  }
  .photos__container {
    width: 80%;
  }
}/*# sourceMappingURL=bio.css.map */