@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf"), format("opentype"), url("../assets/Font/Alternative files/AvenirNextLTPro.ttf"), format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf"), format("opentype"), url("../assets/Font/Alternative files/AvenirNextLTProDemi.ttf"), format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf"), format("opentype"), url("../assets/Font/Alternative files/AvenirNextLTProBold.ttf"), format("truetype");
  font-weight: 700;
}
@media (max-width: 768px) {
  .hero__container {
    position: relative;
    width: 100%;
  }
  .hero__shows-img-container {
    width: 100%;
  }
  .hero__shows-img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 98.5%;
    background-color: rgba(50, 50, 50, 0.5);
  }
  .hero__souncdloud-container {
    position: absolute;
    top: 14rem;
    left: 9vw;
    width: 80%;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
  }
  .hero__dsktop-title {
    display: none;
  }
  .hero__mobile-title {
    display: flex;
    flex-direction: column;
  }
  .hero__title-break {
    display: block;
  }
  .hero__img-top-title {
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    top: 22%;
    left: 9%;
    color: #ffffff;
  }
  .hero__img-title {
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 26%;
    left: 9%;
    color: #ffffff;
  }
  .shows__title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 2.5rem;
  }
  .shows__heading-title-dsk-tablet {
    display: none;
  }
  .shows__heading-title-mobile {
    margin-top: 1rem;
    font-size: 0.875rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    color: #afafaf;
    font-family: Avenir, sans-serif;
  }
  .shows__info-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .shows__info-container:hover {
    background-color: #fafafa;
  }
  .shows__info-container--selected {
    background-color: #e1e1e1 !important;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 8px;
  }
  .shows__info-date {
    font-weight: 600;
    width: 175px;
    margin-bottom: 1.5rem;
  }
  .shows__info-venue, .shows__info-location {
    font-weight: 400;
    width: 175px;
    margin-bottom: 1.5rem;
  }
  .shows__btn-container {
    display: flex;
    justify-content: center;
  }
  .shows__buy-btn {
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
    font-family: Avenir, sans-serif;
    line-height: 1.75rem;
    font-weight: 600;
    background-color: #323232;
    width: 90vw;
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
  }
}
@media (min-width: 769px) {
  .hero__container {
    position: relative;
    width: 100%;
  }
  .hero__shows-img-container {
    width: 100%;
  }
  .hero__shows-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 575px;
  }
  .hero__souncdloud-container {
    position: absolute;
    top: 24rem;
    left: 7vw;
    width: 500px;
  }
  .hero__img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 98.5%;
    background-color: rgba(50, 50, 50, 0.5);
  }
  .hero__dsktop-title {
    display: none;
  }
  .hero__img-top-title {
    font-size: 1.75rem;
    font-weight: 600;
    position: absolute;
    top: 22%;
    left: 6.8vw;
    color: #ffffff;
  }
  .hero__img-title {
    font-size: 5rem;
    font-weight: 600;
    position: absolute;
    top: 28%;
    left: 6.5vw;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  .shows__heading-title-mobile {
    display: none;
  }
  .shows__heading-title-dsk-tablet {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
  }
  .shows__info-container {
    display: flex;
    justify-content: space-around;
    height: 50px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 90%;
    margin: auto;
  }
  .shows__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-left: 3vw;
    margin-bottom: 2.5rem;
  }
  .shows__headings-dsk-tablet {
    margin-top: 0.5rem;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    color: #afafaf;
    font-family: Avenir, sans-serif;
    width: 175px;
  }
  .shows__headings-dsk-tablet-dummy-div {
    visibility: hidden;
    width: 175px;
  }
  .shows__info-date {
    font-weight: 600;
    width: 175px;
    padding-top: 1rem;
  }
  .shows__info-venue {
    font-weight: 400;
    width: 175px;
    padding-top: 1rem;
  }
  .shows__info-location {
    font-weight: 400;
    width: 175px;
    padding-top: 1rem;
  }
  .shows__btn-container {
    width: 175px;
    margin-bottom: 1rem;
  }
  .shows__buy-btn {
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.2rem;
    font-family: Avenir, sans-serif;
    background-color: #323232;
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    width: 175px;
    padding-top: 0.875rem;
    padding-bottom: 0.625rem;
    border: none;
    cursor: pointer;
  }
  .shows__divider-lines {
    width: 90%;
    height: 1px;
    background-color: #e1e1e1;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .hero__img-title {
    font-size: 4rem;
    font-weight: 600;
    position: absolute;
    top: 34.5%;
    left: 8.5vw;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  .hero__img-top-title {
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    top: 31%;
    left: 12vw;
    color: #ffffff;
  }
  .hero__souncdloud-container {
    position: absolute;
    top: 40%;
    left: 58vw;
    width: 30%;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  .shows__container,
  .shows__data-container {
    width: 60vw;
    margin-left: 15vw;
  }
  .shows__title {
    position: relative;
    top: 4.5rem;
    left: 0vw;
  }
}/*# sourceMappingURL=shows.css.map */