@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;

// MOBILE
@media (max-width: 768px) {
  // .hero__container {
  //   position: relative;
  //   width: 100vw;
  // }

  // .hero__shows-img-container {
  //   width: 100%;
  //   height: 500px;
  // }

  // .hero__shows-img-photo {
  //   height: 100%;
  // }

  // .hero__souncdloud-container {
  //   position: absolute;
  //   top: 18rem;
  //   left: 4rem;
  //   width: 75%;
  //   margin: auto;
  // }

  .hero {
    &__container {
      position: relative;
      width: 100vw;
    }

    &__shows-img-container {
      width: 100%;
      height: 500px;
    }

    &__shows-img-photo {
      height: 100%;
    }

    &__img-overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 98.5%;
      background-color: rgba($bandsite-black, 0.5);
    }

    &__souncdloud-container {
      position: absolute;
      top: 18rem;
      left: 4rem;
      width: 75%;
      margin: auto;
    }

    // Switched to vw units for the Hero image as the font scales better with the image vs the 24px/1.5rem requested in the stylesheet.
    &__img-title {
      font-size: 7vw;
      font-weight: 600;
      position: absolute;
      top: 31%;
      left: 9%;
      color: $white;
    }

    &__img-top-title {
      font-size: 3.5vw;
      font-weight: 400;
      position: absolute;
      top: 26%;
      left: 9%;
      color: $white;
    }
  }

  // SHOWS SECTION SHOWS SECTION SHOWS SECTION SHOWS SECTION

  .shows {
    &__heading-title-dsk-tablet {
      display: none;
    }

    &__title {
      @include mobile-sect-header;
      margin-top: 3rem;
      margin-left: 1rem;
      margin-bottom: 2.5rem;
    }

    &__dsk-tablet-container {
      margin-left: 1rem;
    }

    &__heading-title-mobile {
      margin-top: 0.5rem;
      font-size: 14px;
      padding-bottom: 0.5rem;
      font-weight: 600;
      color: $silver;
      font-family: Avenir, sans-serif;
    }

    &__info {
      font-weight: 600;
      margin-bottom: 1rem;
    }

    &__buy-btn {
      margin-bottom: 1.5rem;
      width: 92vw;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: $bandsite-black;
      color: white;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 28px;
      border-radius: 4px;
      border: none;
      font-family: Avenir, sans-serif;
    }
  }
}

// TABLET RESPONSIVE
@media (min-width: 769px) {
  .hero {
    &__container {
      position: relative;
      width: 100%;
    }

    &__shows-img-container {
      width: 100%;
      // height: 500px;
    }

    &__shows-img-photo {
      width: 100%;
      object-fit: cover;
      height: 575px;
    }

    &__souncdloud-container {
      position: absolute;
      top: 23rem;
      left: 4rem;
      width: 500px;
      // margin: auto;
    }

    &__heading-title-dsk-tablet {
      display: none;
    }

    &__img-overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 98.5%;
      background-color: rgba($bandsite-black, 0.5);
    }

    // Switched to vw units for the Hero image as the font scales better with the image vs the 24px/1.5rem requested in the stylesheet.
    &__img-title {
      font-size: 5rem;
      font-weight: 600;
      position: absolute;
      top: 22%;
      left: 6.5vw;
      color: $white;
    }

    &__img-top-title {
      font-size: 1.75rem;
      font-weight: 600;
      position: absolute;
      top: 16%;
      left: 6.8vw;
      color: $white;
    }
  }

  // SHOWS SECTION // SHOWS SECTION // SHOWS SECTION // SHOWS SECTION

  .shows {
    &__heading-title-mobile {
      display: none;
    }

    &__heading-title-dsk-tablet {
      display: flex;
      justify-content: space-around;
    }

    &__dsk-tablet-container {
      display: flex;
      justify-content: space-around;
      height: 50px;
    }

    &__title {
      @include dsk-tablet-sect-header;
      margin-top: 3rem;
      margin-left: 1rem;
      margin-bottom: 2.5rem;
    }

    &__headings-dsk-tablet {
      margin-top: 0.5rem;
      font-size: 1rem;
      padding-bottom: 0.5rem;
      font-weight: 600;
      color: $silver;
      font-family: Avenir, sans-serif;
      width: 175px;
      border: 2px solid red;
    }

    &__headings-dsk-tablet-dummy-div {
      visibility: hidden;
      width: 175px;
    }

    &__info {
      font-weight: 600;
      width: 175px;
      padding-top: 1rem;
      border: 2px solid red;
    }

    &__btn-container {
      width: 175px;
      border: 2px solid red;
      margin-bottom: 1rem;
    }

    &__buy-btn {
      margin-bottom: 1.5rem;
      width: 175px;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: $bandsite-black;
      color: white;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 28px;
      border-radius: 4px;
      border: none;
      font-family: Avenir, sans-serif;
    }

    &__divider-lines {
      width: 90%;
      height: 2px;
      background-color: $mercury;
      margin: auto;
      margin-bottom: 8px;
      margin-top: 8px;
    }
  }
}

// DESKTOP RESPONSIVE
@media (min-width: 1280px) {
  .hero {
    &__img-title {
      padding-left: 3vw;
    }
  }
}
